body {
     color: red;
     font-family: 'Lato', sans-serif;
}

a {
    padding: 6px 12px 6px 12px;
}
.control-label {
 text-transform: uppercase ;
}

img{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin: 10px 50px 20px;
}


@media (min-width: 700px) and (max-width: 1200px) {
    h1{color:blue}
}

